<div class="card" style="margin-top: 20px;; ">
  <div class="card-body" style="text-align: center">
    <h5 class="card-title" *ngIf="loginType">Admin Login</h5>
    <h5 class="card-title" *ngIf="!loginType">Customer Login</h5>
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-default">Login ID</span>
      </div>
      <input type="email" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default"
        [(ngModel)]="id" required>
    </div>
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-default">Password</span>
      </div>
      <input type="password" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default"
        [(ngModel)]="password" required>
    </div>
    <button class="btn btn-primary" [disabled]="disable" (click)="Login()" type="submit">Login</button>
    <div>
      <p><a href="/">Forgot Password</a></p> 
    </div>
    <p *ngIf="invalid" style="color: red; margin-top: 2%">Invalid Login ID or Password</p>
  </div>
</div>