<div class="container" style="margin-top: 20%">
  <div class="row justify-content-center">
    <div class="col-5">
      <h4 style="text-align: center">Welcome to the Bank application</h4>
      <div class="card" style="width: 30rem;">
        <div class="card-body" style="text-align: center">
          <h5 class="card-title">Login</h5>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="inputGroup-sizing-default">Login ID</span>
            </div>
            <input type="email" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" [(ngModel)]="id" required>
          </div>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="inputGroup-sizing-default">Password</span>
            </div>
            <input type="password" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" [(ngModel)]="password">
          </div>
          <button class="btn btn-primary" (click)="Login()">Login</button>
          <p *ngIf="invalid" style="color: red">Invalid Login ID or Password</p>
        </div>
      </div>
    </div>
  </div>
</div>